/* =====================================================
   RESPONSIVE DESIGN
===================================================== */


/* TABLETS */

@media(max-width:1024px){


.container{

    width:90%;

}


.hero-grid{

    grid-template-columns:1fr;

    text-align:center;

}


.hero-text{

    max-width:100%;

}


.hero-buttons{

    justify-content:center;

}


.hero-tech{

    justify-content:center;

}



.hero-image{

    order:-1;

    margin-bottom:30px;

}


.profile-animation{

    width:280px;

    height:280px;

}



.results-grid{

    grid-template-columns:repeat(2,1fr);

}



.about-grid{

    grid-template-columns:1fr;

}



.projects-grid{

    grid-template-columns:1fr;

}



.skills-grid{

    grid-template-columns:repeat(2,1fr);

}



.cert-grid{

    grid-template-columns:repeat(2,1fr);

}



}







/* CELULAR */

@media(max-width:768px){



body{

    overflow-x:hidden;

}



/* MENU MOBILE */


.menu{

    position:fixed;

    top:80px;

    left:-100%;

    width:100%;

    height:auto;

    background:#020617;

    flex-direction:column;

    text-align:center;

    padding:30px 0;

    gap:25px;

    transition:.4s;

}



.menu.active{

    left:0;

}



.menu-mobile{

    display:block;

    color:#38bdf8;

}



.navbar .container{

    height:70px;

}



.logo{

    font-size:20px;

}



/* HERO */


#hero{

    padding-top:100px;

}



.hero-grid{

    display:flex;

    flex-direction:column;

}



.hero-image{

    display:flex;

    justify-content:center;

    width:100%;

}



.profile-animation{

    width:220px;

    height:220px;

}



.hero-text h1{

    font-size:38px;

}



.hero-text h2{

    font-size:28px;

}



.hero-text h3{

    font-size:20px;

}



.hero-text p{

    font-size:15px;

}



.hero-buttons{

    flex-direction:column;

    align-items:center;

}



.btn-primary,
.btn-outline{

    width:90%;

    justify-content:center;

}



/* RESULTADOS */


.results-grid{

    grid-template-columns:1fr;

}



.result-card h3{

    font-size:36px;

}





/* PROJETOS */


.project{

    padding:25px;

}



.project h3{

    font-size:22px;

}



/* SKILLS */


.skills-grid{

    grid-template-columns:1fr;

}




/* EXPERIÊNCIA */


.timeline-item{

    grid-template-columns:1fr;

    gap:10px;

}



.timeline-year{

    text-align:center;

}



/* CERTIFICAÇÕES */


.cert-grid{

    grid-template-columns:1fr;

}



/* CONTATO */


.contact-box{

    padding:35px 20px;

}




/* FOOTER */


.footer-grid{

    grid-template-columns:1fr;

    text-align:center;

}


}