*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    margin-right: 10px;
    color:white;
}

i:hover{
    color:#07ffb5;
}

.lead{
color: white !important;
}

.btnCont{
    
    border: 2px solid rgb(0, 165, 124);
    background: none;
    color: rgb(0, 165, 124);
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    
}

.btnCont:hover{
    background-color: white;
    color: blue;
    border: 2px solid rgb(252, 252, 252);
}



p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {
    height: 300px;
    max-width: auto;
    border-radius: 50%;
}

.icones {
    padding-left: 5px;
}

.navbar {
    background-color: transparent;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulos_cor {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0B3861;
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.corPrimaria {
    background-color: #0B3861;
}

.itemMenu {
    color: white;
}